body {
  font-family: Arial, sans-serif;
  background-color: bisque;
}

#task-list li {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}
.mytasksbox {
  background: #fff;
}
.bottom-half {
  display: flex;
}

.strike-through {
  text-decoration: line-through;
  color: gray;
}

button {
  margin-left: 10px;
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

button:hover {
  background-color: darkred;
}